body {
    font-family: 'Raleway', sans-serif;
    display: flex;
	justify-content: space-around;
}

.header {
    max-width: 1440px;
}

.main {
    max-width: 1440px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */

.nav {
    width: 100%;
    padding: 2.5rem 0rem 2.5rem 0;
    padding-top: 1.5rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    height: 2rem;
}

.nav-home {
    float: left;
}

#logo {
    padding-left: 2.5rem;
}

.nav-links {
    float: right;
    margin-right: 4rem;
}

.nav-links a:hover {
    border-top: 3px solid #0065fc;
    padding-top: 2rem;
    color: #0065fc;
}

.nav-link1 {
    margin-left: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
}

.nav-link-gap {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.bold {
    font-weight: 700;
}

.blue {
    color: #0065FC;
}

.gray {
    color: #535353;
}

/* Bouton Rechercher */

#findHotel {
    padding-left: 2.5rem;
}

#searchHotel {
    display: inline-flex;
    margin-top: 1rem;
    align-items: center;
}

.fa-map-marker-alt {
    font-size: 25px;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    padding: 0.8rem 0.8rem;
    width: 2rem;
    text-align: center;
}
  
input {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    border-right: none;
    border-left: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 0 1.5em;
    width: 80%;
    height: 50px;
    font-size: 1rem;
}

button {
    background-color: #0065fc;
    border: none;
    padding: 15px 15px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    font-size: 1em;
    cursor: pointer;
    margin: 0 -50px;
}

.search-button {
    border-radius: 0px 18px 18px 0;
    padding: 15px;
    background-color: #0065fc;
    color: white;
    position: relative;
    right: -3rem;
  }

  /* Filtres */

.filters-title {
    display: flex;
    width: 5%;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.filters-list {
    display: flex;
    flex-direction: row;
}

.filter-list:hover {
    background: #0065fc;
    color: #fff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.filter-list {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    font-weight: bold;
}

.filter-picture {
    min-height: 3.5rem;
    min-width: 3.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter-name {
font-weight: bold;
padding-right: 1.5em;
padding-left: 0.5em;
cursor: pointer;
}

.fas {
    color: #0065fc;
}

.fa-map-marker-alt {
    color: black;
}

.search-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    margin-right: 0.5rem;
}

/* Hébergements */

#hotel {
    display: flex;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
}

#hotelMarseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    width: 60%;
    padding: 2rem;
    padding-top: 1rem;
    margin: 0 1.5rem 0 0;
}

.hotel-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.host-card {
    width: 30%;
    background: white;
    border-radius: 1.25rem;
    padding: 0.45rem;
    box-sizing: border-box;
    margin: 0 0.32rem 1.25rem 0.32rem;
    box-shadow: 0 0.32rem 1rem #0000002e;
    line-height: 1rem;
}

.host-card:hover {
    transform: scale(1.05);
}

.card-header {
    padding-left: 0.8rem;
}

.card-title {
    margin: 0.5rem 0 0 0;
}

.card-price {
    margin: 0.5rem 0 0.5rem 0;
}

.card-header [data-active=true] {
    color: #0065fc;
}

.card-header [data-active=false] {
    color: #acacac;
}

.icon-gray {
    color: #f2f2f2;
}

.image-full {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 7rem;
    border-radius: 1.1rem 1.1rem 0 0;
}

.font-bold {
    font-weight: bold;
}

.more {
    font-weight: bold;
} 

/* Les plus populaires */

#popular {
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    width: 30%;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0 1.5rem 0 0;
}

.popular-title {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line {
    color: black;
}

.popular-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 9rem;
    background: white;
    border-radius: 1.25rem;
    padding: 0.3125rem;
    box-sizing: border-box;
    margin: 0 0.3125rem 1.25rem 0.3125rem;
    box-shadow: 0 0.3125rem 1rem #0000002e;
    line-height: 0;
}

.popular-card:hover {
    transform: scale(1.05);
}

.popular-card-contener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -0.5rem 0.7rem 0 0.7rem;
    padding-bottom: 0.5rem;
}

.popular-card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-card-title {
    line-height: 1.5rem;
    margin-bottom: 0;
}

.popular-card-footer [data-active=true] {
    color: #0065fc;
}

.popular-card-footer [data-active=false] {
    color: #acacac;
}

.popular-card-link {
    display: flex;
    flex-direction: row;
}

.popular-card-img {
    width: 33%;
    min-width: 33%;
    height: 100%;
}


.image-full-popular {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

/* Activités */

#activities {
    padding: 2.5rem;
}

.activities-Marseille-contener {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.activities-Marseille-contener-block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 45%;
    height: 90%;
}

.activities-Marseille-column1 {
    width: 45%;
}

.activities-Marseille-column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}

.activities-Marseille-contener-block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 48%;
    height: 90%;
}

.activities-Marseille-tall-card {
    height: 30rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem 1px #f2f2f2;
}

.activities-Marseille-tall-card:hover {
    transform: scale(1.05);
}

.activities-Marseille-medium-card {
    height: 18rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem 1px #f2f2f2;
}

.activities-Marseille-medium-card:hover {
    transform: scale(1.05);
}

.activities-Marseille-small-card {
    height: 10rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem 1px #f2f2f2;
}

.activities-Marseille-small-card:hover {
    transform: scale(1.05);
}

.activities-image1 {
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activities-image2 {
    background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 83%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activities-image3 {
    background-image: url("./images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activities-image4 {
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activities-image5 {
    background-image: url("./images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activities-image6 {
    background-image: url("./images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 83%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activities-card-title {
    margin-left: 1.5rem;
}

/* Footer */

#footer {
    background-color: #F2F2F2;
    line-height: 2rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.footer-column {
    width: 30%;
}

ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

li {
    margin-left:auto;
}

/* Format mobile */

@media screen and (max-width: 768px) {
    body{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    header {
        margin: 0;
        display: flex;
        height: auto;
        width: 100%;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav{
        padding-top: 0;
    }
    .nav-home {
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-bottom: 4rem;
        width: 7rem;
    }
    #logo {
        padding-left: 0;
    }
    .nav-links {
        position: absolute;
        width: 100%;
        margin: 0;
        /**/
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-link1 {
        display: flex;
        width: 50%;
        height: 2rem;
        padding-top: 3rem;
        border-bottom: 2px solid #F2F2F2;
        justify-content: flex-end;
        align-items: flex-start;
        border-bottom: none;
    }
    .nav-link2 {
        display: flex;
        width: 50%;
        margin: 0;
        height: 2rem;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        border-bottom: 3px solid #F2F2F2;
    }
    .nav-link3 {
        display: flex;
        width: 45%;
        margin: 0;
        height: 2rem;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        border-bottom: 3px solid #F2F2F2;
    }
    .nav-link3:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        color: #0065FC;
        font-weight: bold;
    }
    .nav-link2:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        color: #0065FC;
        font-weight: bold;
    }
    .nav-link1:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        font-weight: bold;
    }
    .nav-links a:hover {
        border-top: none;
    }
    #findHotel {
        padding-top: 5rem;
    }
    .search{
        justify-content: center;
    }
    .search-button {
        visibility: hidden;
    }
    .fa-search{
        background-color: #0065FC;
        color: #fff;
        font-size: 25px;
        border-radius: 1rem;
        padding: 0.8rem 0.8rem;
        width: 2rem;
        text-align: center;
        margin-left: -3.5rem;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
    }
    .filters-list {
        display: flex;
        flex-wrap: wrap;
    }
    .filter-list {
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
}